@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<h3 class="title-content">My Projects</h3>

<div class="row">
    <div class="col-sm-6 col-md-4 project-thumbnail">
        <div class="thumbnail">
            <img src="~/images/web_projects.png" alt="Web Projects" />
            <div class="caption">
                <h3>My Web Development Projects</h3>
                <p>Click here to view my web development projects that I am working on or have worked on.</p>
                <p><a href="#" class="btn btn-primary" role="button">View</a></p>
            </div>
        </div>

    </div>
    <div class="col-sm-6 col-md-4 project-thumbnail">
        <div class="thumbnail">
            <img src="~/images/web_projects.png" alt="Web Projects" />
            <div class="caption">
                <h3>My Web Development Projects</h3>
                <p>Click here to view my web development projects that I am working on or have worked on.</p>
                <p><a href="#" class="btn btn-primary" role="button">View</a></p>
            </div>
        </div>

    </div>
    <div class="col-sm-6 col-md-4 project-thumbnail">
        <div class="thumbnail project-thumbnail">
            <img src="~/images/web_projects.png" alt="Web Projects" />
            <div class="caption">
                <h3>My Web Development Projects</h3>
                <p>Click here to view my web development projects that I am working on or have worked on.</p>
                <p><a href="#" class="btn btn-primary" role="button">View</a></p>
            </div>
        </div>

    </div>
</div>